# RabbitMQ
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbit
RABBITMQ_PASSWORD=rabbit
# File Db
FILE_PG_DB="files"
FILE_PG_USER="postgres"
FILE_PG_PW="postgres"
FILE_PG_PORT="5432"
FILE_PG_HOST=fc.service.file_db
# MINIO
MINIO_HOST="fc.service.minio:9000"
MINIO_ROOT_USER="rootuser"
MINIO_ROOT_PASSWORD="password"