# RabbitMQ
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbit
RABBITMQ_PASSWORD=rabbit
# Minio
MINIO_HOST="fc.service.minio:9000"
MINIO_ROOT_USER="rootuser"
MINIO_ROOT_PASSWORD="password"
# File DB
FILE_PG_DB="files"
FILE_PG_USER="postgres"
FILE_PG_PW="postgres"
FILE_PG_PORT="5432"
FILE_PG_HOST=fc.service.file_db
# RESEND API KEY
EMAIL_SERVICE="YOUR_RESEND_API_KEY"
DEV_EMAIL="YOUR_EMAIL_RESEND_EMAIL"
# Gateway Download Link Endpoint, assuming gateway at localhost:8080 in host machine
GATEWAY_API_DOWNLOAD=http://localhost:8080/api/v1/download/audio