# GATEWAY SERVICE
GATEWAY_SERVICE_PORT=8080
# AUTH_SERVICE
AUTH_SERVICE_PORT=9090
# AUTH_SERVICE DB
AUTH_PG_DB="auth"
AUTH_PG_USER="postgres"
AUTH_PG_PW="postgres"
AUTH_PG_PORT="5433"
# VIDE_TO_MP3 DB
FILE_PG_DB="files"
FILE_PG_USER="postgres"
FILE_PG_PW="postgres"
FILE_PG_PORT="5434"
# MINIO
MINIO_ROOT_USER="rootuser"
MINIO_ROOT_PASSWORD="password"