# RabbitMQ Settings
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbit
RABBITMQ_PASSWORD=rabbit
# Auth Service URI
AUTH_SERVICE_HOST="fc.service.auth"
AUTH_SERVICE_PORT=9090
# Gateway Settings
ALLOWED_ORIGIN="*"
APP_PORT=8080
# File Databases
FILE_PG_DB="files"
FILE_PG_USER="postgres"
FILE_PG_PW="postgres"
FILE_PG_PORT="5432"
FILE_PG_HOST=fc.service.file_db
# App Vars
ENV="dev"
# MiniO Vars
MINIO_HOST="fc.service.minio:9000"
MINIO_ROOT_USER="rootuser"
MINIO_ROOT_PASSWORD="password"